[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pudb = "*"

[packages]
black = "==19.10b0"
flake8 = "*"
isort = "*"
pylint = "*"
pytest = "*"
scipy = "*"

[requires]
python_version = "3.7"
